:root {
  --primary: #C51A16;
  --secondary: white;
  --accent: #F2B134;
  --background: white;
  --text: white;
  --secondary-text: #9F9F9F; 
  --third-text: #282828;
}


/* darkmote should be added */


