.pcFooter {
    background-color: #060809; /* vaste kleur */
}

.socials img { 
    height: auto;
    width: 120px;

}

.socials li {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.socials { 
    display: flex;
    justify-content: center;
    flex-direction: column;
    
}

.ytLogo, .instaLogo, .facebookLogo { 
    fill: #A7ACB1;
    height: 40px;
    width: auto;
}

.links-container { 
    display: flex;
    justify-content: space-evenly;
    color: #A7ACB1;
    padding: 56px 0px;
}

.linkTitle {
    color: white;
    font-size: 20px;
}

.links-container ul li {
    padding: 4px;
}

.copyright {
    color: #A7ACB1;
    padding: 16px;
}


