.promotionScreen {
  background-image: url("../img/art-faction-banners-of-arestar-v0-hoj6kvtcecbb1-501520382.jpg");
  background-size: cover;
  background-position: unset;
  background-repeat: no-repeat;
  height: 450px;
  width: 100vw;
  color: var(--third-text);
  display: flex;
  justify-content: left;
  align-items: center;
}

.discountHighlight {
  color: var(--primary);
}

.discountForm,
.promotionCard {
  display: flex;
  flex-direction: column;
}

#email,
#submit {
  background-color: var(--secondary);
  border: solid 1px var(--secondary);
  border-radius: 8px;
  padding: 12px 0px;
  border: solid 1px var(--secondary-text);
}

.discountForm {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.discountText {
  color: var(--secondary-text);
}

.discountTitle {
  font-size: 30px;
  color: var(--third-text);
}

.promotionCard {
  max-width: 350px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-left: 20%;
  background-color: #f39c96;
  padding: 12px;
  border-radius: 12px;
}

.promotionCard > div {
  color: var(--secondary-text);
}
