:root {
  --primary: #c51a16;
  --secondary: white;
  --accent: #f4989b;
  --background: white;
  --text: white;
  --secondary-text: #9f9f9f;
  --third-text: #282828;
}

/* darkmote should be added */

[data-theme="dark"] {
  --primary: #c51a16;
  --secondary: #1a1a1a;
  --accent: #f4989b;
  --background: #121212;
  --text: white;
  --secondary-text: #bbbbbb;
  --third-text: #888888;
}