.cards-container {
  display: flex;
  justify-content: left;
  flex-direction: row;
  flex-wrap: wrap;
}

.products-container {
  display: flex;
  padding: 60px 20px;
}

.productSelect {
  padding: 12px;
  display: flex;
  flex-direction: column;
  width: 400px;
  min-width: 250px;
}

.productSelect button {
  padding: 12px;
  margin: 8px;
  border: 1px solid var(--secondary);
  display: flex;
  background-color: var(--secondary);
  border-radius: 12px;
    color: var(--third-text)
}

.productSelect button:hover {
  background-color: var(--primary);
  border: 1px solid var(--primary);
  border-radius: 12px;
}

.optionLogo {
  height: 24px;
  width: auto;
  margin-right: 8px;
    fill: var(--third-text)
}

.products-container {
  display: flex;
}

.productSelect {
  width: 30%;
  box-sizing: border-box;
}
