* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  line-height: 1.5;
  width: 100vw;
  height: 100vh;
}

ul,
ol {
  list-style: none;
}

button {
  all: unset;
  cursor: pointer;
}

a {
  all: unset;
  display: inline-block;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

input,
select {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  font-size: 100%;
  background: none;
  box-sizing: border-box;
}

input[type="submit"],
input[type="reset"],
input[type="button"],
button {
  cursor: pointer;
}

